.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
  background-color: #f0f0f0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.row-header {
  background-color: #562b81;
}

.jrnl-header {
  margin: 0;
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: white;
}

.entry-txt {
  margin: 0;
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #292929;
}

.save {
  display: flex;
  justify-content: flex-end;
}

.save-btn {
  background-color: #562b81;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
}

img {
  border-radius: 4px;
  width: 100%;
}

.input {
  margin-top: 10px;
}

.input-form {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #b6b6b6;
  padding: 10px;
}

.input-form:focus {
  border: 2px solid #562b81;
  outline: none;
}

.input-notes {
  border: 1px solid #b6b6b6;
}

label {
  font-family: "Proza Libre", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

textarea {
  width: 100%;
  border-radius: 3px;
  border: 1px solid gray;
}

textarea:focus {
  border: 2px solid #562b81;
  outline: none;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
